---
name: build
run-name: building and publishing new release
on:  # yamllint disable-line rule:truthy
  push:
    # run only against tags
    tags:
      - "*"
permissions:
  contents: write  # allows the action to create a Github release
  id-token: write  # This is required for requesting the AWS JWT

jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: us-east-1  # ECR Public can only be logged into from the us-east-1 region
          role-to-assume: arn:aws:iam::202662887508:role/ecr-postgresql-partition-manager
          role-session-name: githubActions

      - name: Login to Amazon ECR
        id: login-ecr-public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - run: git fetch --force --tags

      - uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Set up QEMU for ARM64 build
        uses: docker/setup-qemu-action@v3

      - uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure AWS credentials for helm chart
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: us-east-1  # ECR Public can only be logged into from the us-east-1 region
          role-to-assume: arn:aws:iam::202662887508:role/ecr-postgresql-partition-manager-chart
          role-session-name: githubActions

      - name: Login to Amazon ECR for helm chart
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Helm release
        run: make helm-release
